
main{
	color: #232426;
	padding: 56px 144px 116px 144px;
}

nav > ul {
	display: flex;
	gap: 20px;
}
h1{
	font-size: 64px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 24px;
}
p{
    font-size: 16px;
}   