@import url('https://fonts.googleapis.com/css2?family=Astloch&family=Crimson+Pro:ital@1&family=EB+Garamond:ital,wght@0,400;1,500&family=Inter:wght@300;400;500;600;700&family=Rubik+Beastly&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

@font-face {
	font-family: 'pencerio';
	src: url(font/Pencerio-Hairline.otf) format("opentype");
	font-weight: 200;
}
@font-face {
	font-family: 'boxing';
	src: url(font/Boxing-Regular.otf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'astloch';
	src: url(font/Astloch-Regular.ttf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'aktura';
	src: url(font/Aktura-Regular.otf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'comico';
	src: url(font/Comico-Regular.otf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: '0xA000';
	src: url(font/0xA000-Dots.ttf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'framespartone';
	src: url(font/FramesPartOne-Medium.otf) format("opentype");
	font-weight: 400;
}



:root {
	--font-size-h2: 24px;
	--font-size-h1: 30vmin;
}

html{
	scroll-behavior: smooth;
}
.container_main{
	display: flex;
	flex-direction: column;
	flex-basis: 0px;
	gap: 3em;
	padding: 80px 50px;
	/*border: 10px red solid;*/
}
.container{
	display: flex;
	flex-direction: column;
	gap: 3em;
	padding: 80px 50px;
	justify-content: center;
}

.one{
	flex-basis: 40%;
	flex-grow: 1;
	max-width: 500px;
	padding-right: 20px;
	border: 10px solid rosybrown;
}
.two{
	flex-basis: 60%;
	flex-grow: 2;
	max-width: 500px;
	border: 10px solid palegoldenrod;
}


body{
	background-color: #F0F0E2;
	color: #232426;
}

header {
	max-width: 70em;
	min-width:35em;
	margin-left: auto;
	margin-right: auto;
}

main {
	width: 100%;
}

/* Top navigation poistion and style */
nav > ul{
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	color:black;
	position: fixed;
	/*width: 100%;*/	
	padding: 1em;
	z-index: 2;
}

h1{
	display: flex;
	flex-direction: column;
	line-height: 140px;
	padding-bottom:48px;
	color:#1B4933;
	text-align: center;
	border: #1B4933 solid	10px;
}

/* start of the main font */
.c{
	font: var(--font-size-h1) 'pencerio', san-serif;
	-webkit-text-stroke: 2px #1B4933;
	line-height: 1px; /*I want to */
}
.ul{
	font: var(--font-size-h1) 'boxing', serif;
}
.t1{
	font: var(--font-size-h1) 'framespartone', san-serif;
}
.o{
	font: var(--font-size-h1) 'Rubik Beastly', san-serif;
}
.f{
	font: var(--font-size-h1) 'Rubik Puddles', san-serif;
}
.t2{
	font: var(--font-size-h1) 'Aktura', san-serif;
}
.h{
	font: var(--font-size-h1) 'astloch', san-serif;
}
.u{
	font: var(--font-size-h1) 'comico', san-serif;
}
.gl{
	font: var(--font-size-h1) 'crimson', san-serif;
	font-style: italic;
}
.y{
	font: var(--font-size-h1) '0xa000', san-serif;
}
/* end of the main font */

.author{
	border-top: 2px solid black;
	font: 16px 'inter', san-serif;
	font-weight: 600;
	padding-top: 16px;
	margin-top: 120px;
}
.articleinfo{
	border-bottom: 1px solid black;
	font: 16px 'inter', san-serif;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 16px;
}


h2{
	font: var(--font-size-h2) 'inter', san-serif;
	font-weight: 500;
	line-height: 140%;
	max-width: 500px;
}
/* all about quote */
.quote{
	/*im not sure if flex would work here? might have to use a grid instead? */
	display: flex;
	flex-direction: column;
	padding:  40px 50px;
	background-color: white;
	align-items: center;	
	border: #1B4933 solid 10px;
	flex-grow: 1;
}
blockquote{
	font: 20px 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	flex-grow: 1;
}
.quotetitle{
	border: 2px dotted #1B4933;
	border-radius: 50%;
	width: 400px;
	line-height: 100px;
	max-height: 100px;
	text-align: center;
}
.quotecontent{
	max-width: 500px;
}
.quoteinfo{
	font: 16px 'EB Garamond', serif;
	font-weight: 400;
	padding-bottom: 24px;
}

@media(min-width: 375px) { 
	
	.container{
		flex-direction: row;
	}
	.container_main{
		flex-direction: row;
		--font-size-h2: 28px;
		--font-size-h1: 128px;
		border: 10px solid palegoldenrod;

	}
	/*flex box for desktop view of quotes (might need to change to grid) */
	/*.quote{
	definitely need something but don't know what for now
	} */	
}
/*background colors*/
.green{
	background-color: #1B4933;
	color: white;
}
.beige{
	background-color: #E0D1B2;
}
.white{
	background-color: white;
}
.maxwidth{
	max-width: 600px;
}



h3{
	font: 24px 'inter', san-serif;

	font-weight: 600;
	line-height: 150%;
	z-index: 1;

}
p, ul {
    font: 18px 'inter', san-serif;
	font-weight: 400;
	line-height: 160%;
	padding-bottom: 10px;
	z-index: 1;
}

/* Adds arrow pointing Up+Right after external links */
a[href^='https://']::after {
	font-family: 'Noto Sans Symbols 2', sans-serif;
	font-size: 80%;
	content: ' \2197'; 
}

/* Floating back to top button */
#topButton {
	position: fixed;
	font: 40px 'EB Garamond', serif;
	font-weight: 400;
	font-style:italic;
	padding: 4%;
	border-radius: 50%;
	bottom: 0;
	right: 0;
	margin:1em;
	z-index: 2;
}

/* Styles of links that are not within the article */
a:not(.link) {
	font: 18px 'inter', san-serif;
	font-weight: 400;
	z-index: 1;
}

/* Styles of links within article */
.link {
	/* position: absolute; [leaving out for now] */
	display:block;
	left: 5px;
	opacity: 20%;
	font: 34px 'inter', san-serif;
	font-style: italic;
	font-weight: 600;
}

/* Hover style for all links */
a:hover {
	color: #1B4933; 
	opacity: 100%;
}

/* Only Bullet points */
li:not(.navigation){
	list-style-type: disc;
	margin-left:1em;
	padding-bottom: 5px;
}

marquee {
	background-color:rgb(0, 0, 0);
	color:white;
	width:100%;
	padding:20px;
}

footer {
	background-color: rgb(3, 28, 3);
	color:white; 
	padding: 2em;
}