@import url('https://fonts.googleapis.com/css2?family=Astloch&family=Crimson+Pro:ital@1&family=EB+Garamond:ital,wght@0,400;1,500&family=Inter:wght@300;400;500;600;700&family=Rubik+Beastly&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

@font-face {
	font-family: 'pencerio';
	src: url(font/Pencerio-Hairline.otf) format("opentype");
	font-weight: 200;
}
@font-face {
	font-family: 'boxing';
	src: url(font/Boxing-Regular.otf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'astloch';
	src: url(font/Astloch-Regular.ttf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'aktura';
	src: url(font/Aktura-Regular.otf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'comico';
	src: url(font/Comico-Regular.otf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: '0xA000';
	src: url(font/0xA000-Dots.ttf) format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'framespartone';
	src: url(font/FramesPartOne-Medium.otf) format("opentype");
	font-weight: 400;
}



html{
	scroll-behavior: smooth;	
}
.container_main{
	display: grid;
	grid-auto-columns: var(--grid-column);
	gap: calc(.3 * var(--size-h1));
	justify-content: center;
	width: 100%;
	padding: var(--header-padding-top) var(--header-padding-lr) var(--header-padding-bottom) var(--header-padding-lr);
}
.container_main:last-child{
	align-items: end;
}


body{
	background-color: #ffffff;
	color: #232426;
}


/* Top navigation poistion and style */
nav > ul{
	display: flex;
	gap: 20px;
	color:black;
	position: fixed;
	width: 100%;
	max-width: 1000px;	
	padding: 1em;
	z-index: 2;
}

h1{
	display: flex;
	flex-direction: column;
	line-height: var(--line-height-h1);
	color: var(--green-foreground);
	text-align: center;
	padding-bottom: var(--padding-h1-right);
	padding-right:	var(--padding-h1-bottom);
}

/* start of the main font */
.c{
	font: var(--size-h1) 'pencerio', san-serif;
	-webkit-text-stroke: 2px var(--green-foreground);
}
.ul{
	font: var(--size-h1) 'boxing', serif;
}
.t1{
	font: var(--size-h1) 'framespartone', san-serif;
}
.o{
	font: var(--size-h1) 'Rubik Beastly', san-serif;
	line-height: var(--line-height-h1);
}
.f{
	font: var(--size-h1) 'Rubik Puddles', san-serif;
	line-height: var(--line-height-h1);
}
.t2{
	font: var(--size-h1) 'Aktura', san-serif;
	line-height: var(--line-height-h1);
}
.h{
	font: var(--size-h1) 'astloch', san-serif;
	line-height: var(--line-height-h1);
}
.u{
	font: var(--size-h1) 'comico', san-serif;
	line-height: var(--line-height-h1);
}
.gl{
	font: var(--size-h1) 'crimson', san-serif;
	font-style: italic;
	line-height: var(--line-height-h1);
}
.y{
	font: var(--size-h1) '0xa000', san-serif;
	line-height: var(--line-height-h1);
}
/* end of the main font */


h2{
	font: var(--size-h2) 'inter', san-serif;
	font-weight: 500;
	line-height: 140%;
}
.main-h2{
	padding-top:40px;
}

.author{
	border-top: 2px solid black;
	font: 16px 'inter', san-serif;
	font-weight: 600;
	padding-top: 16px;
	margin-top: 48px;
}
.articleinfo{
	border-bottom: 1px solid black;
	font: 16px 'inter', san-serif;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 16px;
}


/* all about quote */
.quote{
	display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
	row-gap: 20px;
	padding:  10vmin 5vmax 0px;
	background-color: var(--white-background);
	width: 100%;
	/* max-height: var(--quote-height);Temporary solution */
}

blockquote{
	font: var(--blockquote-font-size) 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	max-width: 400px;
	height: 100%;
}
.quotelayout1{
	grid-column: 1;
}
.quotetitle{
	border: 2px dotted var(--green-foreground);
	border-radius: 50%;
	width: 20vmax;
	line-height: 100px;
	max-height: 100px;
	text-align: center;
	margin: 0 auto;
	grid-column: 1;
}
.quotelayout2{
	grid-column: 1;
}
.quotelayout3{
	grid-column: 1;
}
.quote-layout4{
	grid-column: 1;
}
.quoteinfo{
	font: var(--base-type) 'EB Garamond', serif;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 24px;
}


.container{
	width: 100%;
	padding: var(--padding-tb) var(--padding-lr);
	justify-content: center;
	gap: 32px; 
}



/*background colors*/
.green{
	display: grid;
	grid-template-columns: var(--grid-column);
	
	/* display: flex;
	flex-direction: var(--flex-container);
	flex-wrap: wrap;
	max-width: 1400px; */



	background-color: var(--green-background);
	color: var(--white-foreground);
}
.beige{
	display: grid;
	grid-template-columns: var(--grid-column);
	
	/* display: flex;
	flex-direction: var(--flex-container-reverse);
	flex-wrap: wrap; */

	background-color: var(--beige-background);
}
.white{
	background-color: var(--white-background);
}
.lightgreen{
	display: grid;
	grid-template-columns: var(--grid-column);

	background-color: var(--lightgreen-background);
}
.maxwidth{
	max-width: 600px;
}


.one{
	max-width: 500px;
	padding-right: 20px;
	grid-column:1;
	grid-row:1;	
}
.two{
	max-width: 500px;
	grid-column:2;
	grid-row: 1;	
}

.three{
	max-width: 500px;
	padding-right: 20px;
	grid-column:1;
	grid-row:2;	
}
.four{
	max-width: 500px;
	grid-column:2;
	grid-row: 2;	
}

h3{
	font: var(--size-h3) 'inter', san-serif;
	font-weight: 600;
	line-height: 150%;
	z-index: 1;

}
p, ul {
    font: var(--base-type) 'inter', san-serif;
	font-weight: 400;
	line-height: 160%;
	/* padding-bottom: 10px; */
	width: 100%;
	z-index: 1;
}

/* Styles of links within article */
.link {
	/* position: absolute; [leaving out for now] */
	display:block;
	/* left: 5px; */
	mix-blend-mode: difference;
	opacity: 30%;
	font: var(--link-size) 'inter', san-serif;
	font-style: italic;
	font-weight: 600;
	position: relative;
}
/* Styles of links that are not within the article */
a:not(.link) {
	font: var(--base-type)'inter', san-serif;
	font-weight: 400;
}
.link-position-1{
	top: 30px;
	right: 30px;
}
.link-position-2{
	top: 120px;
	left: 180px;
}
.link-position-3{
	top: 70px;
	left: -80px;
}
.link-position-4{
	top: -30px;
	left: 250px;
	z-index: -1;
}

/* Hover style for article links */
a.link:hover {
	mix-blend-mode: multiply;
	opacity: 100%;
}

/* Hover style for all other links */
a:hover:not(.link) {
	mix-blend-mode: normal;
	color: rgb(83, 83, 83);
	opacity: 100%;
}

/* Adds arrow pointing Up+Right after external links */
a[href^='https://']::after {
	font-family: 'Noto Sans Symbols 2', sans-serif;
	font-size: 80%;
	content: ' \2197'; 
}

/* Floating back to top button */
#topButton {
	position: fixed;
	padding: 4%;
	border-radius: 50%;
	bottom: 0;
	right: 0;
	margin:1em;
	z-index: 2;
	mix-blend-mode: difference;
}

.top_t{
	font: calc(1.8* var(--link-size)) 'astloch', san-serif;
}
.top_o{
	font: calc(1.8* var(--link-size)) 'Rubik Puddles', san-serif;
	letter-spacing:10px;
}
.top_p{
	font: calc(1.8* var(--link-size)) '0xa000', san-serif;
}

/* Only Bullet points */
li:not(.navigation){
	list-style-type: disc;
	margin-left:1em;
	padding-bottom: 5px;
}

marquee {
	background-color:rgb(0, 0, 0);
	color:white;
	width:100%;
	padding:20px;
}

footer {
	background-color: var(--green-background);
	color: var(--white-foreground); 
	padding: 2em;
    font: var(--base-type) 'inter', san-serif;
}


:root {
	--base-type: 16px;
	--size-h1: max(20vmin,112px);
	--line-height-h1: max(8vmin,45px);
	--size-h2: calc(1.3 * var(--base-type));
	--size-h3: calc(1.2 * var(--base-type));;
	--blockquote-font-size: calc(1.1 * var(--base-type));
	--link-size: calc(1.2 * var(--base-type));

	/* for h1+h2+infor */
	--header-padding-top: calc(2 * var(--base-type));
	--header-padding-bottom: calc(5 * var(--base-type));
	--header-padding-lr: var(--base-type);
	--grid-column: 1fr;

	--padding-h1-right: 20px ;
	--padding-h1-bottom: 0px;

	--quote-position-1: static;
	--quote-position-2: static;
	--quote-position-3: static;
	
	--padding-tb: 40px;
	--padding-lr: 16px;

	--green-foreground: #1B4933;
	--black-foreground: black; 
	--white-foreground: white;
	
	--green-background: #1B4933;
	--beige-background: #E0D1B2;
	--white-background: white;
	--lightgreen-background: #F0F0E2;
}


@media print {
	:root { 
	--green-foreground: black;
	--white-foreground: black;
	--green-background: white; 
	--beige-background: white;
	--lightgreen-background: white;

	--base-type: 12px;
	}

	@page :first {
		margin-top: 1cm;
	}

	@page {
		margin-top: 2cm;
	}

	nav, 
	.link,
	#topButton,
	footer {
	display: none;
	}

	.one { 
	max-width: 100%;
	/*break-before: always; */
	}

	.two { 
		max-width: 100%;
		/*break-before: always; */
	}
	
	h3, 
	blockquote {
	break-inside: avoid;
	}

}

@media(min-width: 376px) and (max-width: 899px){ 
	
	:root {
		--base-type: 18px;
		--padding-tb: 60px;
		--padding-lr: 16px;
		--size-h1: max(20vmin,112px);
		--line-height-h1: max(8vmin,45px);
		--grid-column: .8fr;

	}
	
	.container_main{
		/* grid-template-columns: 1fr 1fr; */
	}

	.quote{
			/* --quote-position-1: static;
			--quote-position-2: static;
			--quote-position-3: static;
			--quote-left-1: -6vmax;
			--quote-left-2: -15vmax;
			--quote-top-2: -5vmin;
			--quote-left-3: 13vmax;
			--quote-top-3: -15vmin;
			--quote-height:550px;	 */
		}

	}

@media(min-width: 900px) { 

	:root {
		--base-type: 20px;
		--size-h1: 176px;
		--line-height-h1: 70px;
	
		--header-padding-lr: calc(2 * var(--base-type));
		--header-padding-bottom: calc(3 * var(--base-type));
		--grid-column: repeat(2, 450px);

		--padding-tb: 60px;
		--padding-lr: 50px;

		--link-size: calc(2 * var(--base-type));

		/* --flex-container: row;
		--flex-container-reverse: row-reverse; */

	}

	.quote{
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(50px, auto);
		width:100% ;
	/* --quote-position-1: relative;
	--quote-position-2: relative;
	--quote-position-3: relative;
	--quote-left-1: -6vmax;
	--quote-left-2: -15vmax;
	--quote-top-2: -5vmin;
	--quote-left-3: 13vmax;
	--quote-top-3: -15vmin;
	--quote-height: 550px; */
	}
		.quotelayout1{
			grid-column: 1 / span 4;
		}
		.quotetitle{
			grid-row: 2;
			grid-column: 2 / span 2;
		}
		.quotelayout2{
			grid-column:  1/ span 2;
			align-self: end;
			justify-self: end;
		}
		.quotelayout3{
			grid-row: 2;
			grid-column:  4/ span 2;
			align-self: end;
			justify-self: end;
		}
		.quote-layout4{
			grid-row: 4;
			grid-column:  3/ span 2;
			align-self: end;
			justify-self: end;
			padding-bottom: 80px;
		}

		.container_main{
			grid-template-columns: 467px 367px;
			width:100%;
		}
		.container{
			/* flex-direction: row; */
		}
}
